name: Build

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.rst'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.rst'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build_wheels:
    strategy:
      matrix:
        os: ["ubuntu-20.04", "macos-11"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        make requirements c_lib
    - name: Build wheels
      uses: pypa/cibuildwheel@v2.12.3
    - name: Upload packages
      uses: actions/upload-artifact@v3
      with:
        name: ada-url-packages
        path: wheelhouse/*
