name: Build

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.rst'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.rst'
      - 'docs/**'
  release:
    types:
      - published

env:
  PIP_BREAK_SYSTEM_PACKAGES: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build_wheels:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - run: make requirements
    - if: runner.os == 'Linux'
      run: |
        sudo apt-get install g++-12
    - name: Set up QEMU  # Needed to build aarch64 wheels
      if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all
    - uses: pypa/cibuildwheel@v2.22.0
    - uses: actions/upload-artifact@v4
      with:
        name: artifact-wheel-${{ matrix.os }}
        path: wheelhouse/*.whl

  make_sdist:
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v4
    - run: |
        make requirements
        python -m build --no-isolation --sdist
    - uses: actions/upload-artifact@v4
      with:
        name: artifact-sdist
        path: dist/*.tar.gz

  merge:
    runs-on: ubuntu-latest
    needs: [build_wheels, make_sdist]
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: artifact
          pattern: artifact-*
          delete-merged: true

  upload_all:
    needs: merge
    runs-on: "ubuntu-latest"
    environment: release
    if: github.event_name == 'release' && github.event.action == 'published'
    permissions:
      id-token: write
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: artifact
        path: dist
    - uses: pypa/gh-action-pypi-publish@release/v1
