name: Build

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.rst'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.rst'
      - 'docs/**'
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build_wheels:
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - run: make requirements
    - run: make c_lib
      if: runner.os == 'macOS'
    - name: Set up QEMU  # Needed to build aarch64 wheels
      if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v2
      with:
        platforms: all
    - uses: pypa/cibuildwheel@v2.13.0
    - uses: actions/upload-artifact@v3
      with:
        path: wheelhouse/*.whl

  make_sdist:
    runs-on: "ubuntu-latest"
    steps:
    - uses: actions/checkout@v3
    - run: |
        make requirements
        python -m build --no-isolation --sdist
    - uses: actions/upload-artifact@v3
      with:
        path: dist/*.tar.gz

  upload_all:
    needs: [build_wheels, make_sdist]
    runs-on: "ubuntu-latest"
    environment: release
    if: github.event_name == 'release' && github.event.action == 'published'
    permissions:
      id-token: write
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: artifact
        path: dist
    - uses: pypa/gh-action-pypi-publish@release/v1
