name: Unit tests

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - '**.rst'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - '**.rst'
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


env:
  MACOSX_DEPLOYMENT_TARGET: "10.15"
  
jobs:
  build_test:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        make requirements
    - name: Build packages
      run: |
        make package
    - name: Run tests
      run: |
        pip install -e .
        make coverage
    - name: Check docs
      run: |
        make docs
